<!DOCTYPE html>
<html>

<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.tiny.cloud/1/bypqa3x1f6xn3b7wed94txn9emdx61dk0vejd4ty1gotvva7/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea', 
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image',
            valid_elements: '*[*]',
            entities: 'raw', // 
        });
    </script>
</head>

<body>
    <h1>Create a New Post</h1>
    <form action="/create" method="post">
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" placeholder="Content"></textarea>
        <button type="submit">Create Post</button>
    </form>
    <a href="/">Back to Home</a>
</body>

</html>