<!DOCTYPE html>
<html>

<head>
    <title>Edit Post</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.tiny.cloud/1/bypqa3x1f6xn3b7wed94txn9emdx61dk0vejd4ty1gotvva7/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',  
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image',
            forced_root_block: "false",
            valid_elements: '*[*]', 
        });
    </script>
</head>

<body>
    <h1>Edit Post</h1>
    <form action="/update/<%= post.id %>" method="post">
        <input type="text" name="title" value="<%= post.title %>" required>
        <textarea name="content" required><%= post.content %></textarea>
        <button type="submit">Update Post</button>
    </form>
    <a href="/">Back to Home</a>
</body>

</html>